.wb-inv {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

*[tabindex]:focus {
    outline: 2px blue solid !important;
}

#thumbsEmoji{
    position: relative;
    left: 1000px;
    bottom: 20px;
    width: 100px;
}